.imagenPequena{
    width: 100px;
}

.botonEliminar{
    margin-top:20px;
    margin-bottom: 20px;
    float:right;
}

.textoCentral{
    text-align: center;
}

.alignDerecha{
    text-align: right;
}